/*tela*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #333;
    overflow: hidden;
}
#object{
    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    filter: drop-shadow(0 0 15px white);  
    bottom: 50px;  
}
#caldeirao{
    position: absolute;
    width: 70px;
    height: 70px;
    margin: 0;
    left: 600px;
    filter: drop-shadow(0 0 15px rgb(77, 253, 74));  
    bottom: 50px;  
    
}
#esqueleto{
    position: absolute;
    width: 90px;
    height: 132px;
    margin: 0;
    left: 900px;
    filter: drop-shadow(0 0 15px rgb(253, 74, 74));  
    bottom: 50px;  
}
#casa{
    position: absolute;
    width: 500px;
    height: 270px;
    margin: 0;
    left: 300px;
    filter: drop-shadow(0 0 8px rgb(253, 74, 226));  
    bottom: 7%;  
}
#arvore{
    position: absolute;
    width: 2499px;
    height: 320px;
    margin: 0;
    left: -600px;
    bottom: 7%;  
}
.tela{
    width: 1200px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background: url("https://media.istockphoto.com/id/1139914450/pt/vetorial/pixel-art-star-sky-at-evening-vector-background.jpg?s=170667a&w=0&k=20&c=NO6BSuHy9ZNsFGLjDULNLBbVlWtHLSwwO6_thnSlR3k=");
    background-size: 50%;
    margin-top: 80px;
}
#chao{
    position: absolute;
    width: 2400px;
    height: 50px;
    left: -600px;
    background:url("chaao.png");
    background-size: 100%;
    bottom: 0;
}

/*samurai*/
.img{
    background: url("https://cdna.artstation.com/p/assets/images/images/020/960/014/original/gabriel-smolski-samurai-idle.gif?1569850569");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    bottom: 0;
}
.img_left{
    background: url("https://cdna.artstation.com/p/assets/images/images/020/960/014/original/gabriel-smolski-samurai-idle.gif?1569850569");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    bottom: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.special1{
    filter: drop-shadow(0 0 10px rgb(231, 255, 14)); 
    background: url("https://cdna.artstation.com/p/assets/images/images/020/960/014/original/gabriel-smolski-samurai-idle.gif?1569850569");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: rgb(231, 255, 14);
    bottom: 0;
}
.special2{
    filter: drop-shadow(0 0 10px rgb(255, 0, 0)); 
    background: url("https://cdna.artstation.com/p/assets/images/images/020/960/014/original/gabriel-smolski-samurai-idle.gif?1569850569");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: (255, 0, 0);
    bottom: 0;
}
.special3{
    filter: drop-shadow(0 0 10px rgb(0, 153, 255)); 
    background: url("https://cdna.artstation.com/p/assets/images/images/020/960/014/original/gabriel-smolski-samurai-idle.gif?1569850569");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border:  rgb(0, 153, 255); 
    bottom: 0;
}
.walk{
    background: url("https://cdnb.artstation.com/p/assets/images/images/020/960/021/original/gabriel-smolski-samurai-run1.gif?1569850584");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
}
.walk_left{
    background: url("https://cdnb.artstation.com/p/assets/images/images/020/960/021/original/gabriel-smolski-samurai-run1.gif?1569850584");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.atacar{
    background: url("https://cdnb.artstation.com/p/assets/images/images/020/960/019/original/gabriel-smolski-samurai-enter1.gif?1569871499");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
}
.fumaca{
    background: url("https://img.itch.zone/aW1nLzQ0Mjk1NzIuZ2lm/original/yrsV%2Bf.gif");
    background-size: 100%;
    width: 80px;
    height: 200px;
    border: none;
    margin-top: 100%;
}
.chama{
    background: url("https://cdn.pixabay.com/animation/2024/06/23/05/08/05-08-33-791_512.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    height: 300px;
    border: none;
    margin-top: 100%;
}

.pulo{
    animation: pulo 0.7s linear;
}
@keyframes pulo{
    0%{
        bottom: 50px;
    }
    50%{
        bottom: 120px;
    }
    75%{
        bottom: 60px;
    }
    100%{
        bottom: 50px;
    }
    
}


/*caldeirão*/
.imgc{
    background: url("https://64.media.tumblr.com/9a71a41acec495ce81a7f08e65cdd83d/73493d9652750443-b1/s400x600/61057d292ddc5c79c6e59838f31e48d2459120c4.gifv");
    background-size: 100%;
    width: 70px;
    height: 70px;
    bottom: 0;
    border: none;
}
/*esqueleto*/
.esqueleto{
    background: url("https://img.itch.zone/aW1nLzIxODY1MTMuZ2lm/original/VIGEEd.gif");
    background-size: 100%;
    width: 100%;
    height: 100%;
    bottom: 100px;
    border: none;
}
/*casa*/
.imgf{
    background: url("pngwing.com.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    border: none;
}

/*arvore*/
.imga{
    background: url("ar.png");
    background-size: 100%;
    background-repeat: repeat-x;
    margin: 0;
    border: none;
    width: 2499px;
    height: 400px;
    margin: 0;
}

/*Interações*/
.morrer {
    display: none;
}

